html, body
	min-height: 100%
	height: 100%

html
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	@media (max-width: 767.98px)
		font-size: 12px
	@media (min-width: 768px) and (max-width: 991.98px)
		font-size: 13px
	@media (min-width: 992px) and (max-width: 1199.98px)
		font-size: 14px
	@media (min-width: 1200px)
		font-size: 16px

body
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	overflow: hidden
	margin: 0
	width: 100%
	background: #202020
	color: #fafafa
	&.loading
		*
			transition: none !important

h1, h2, h3, h4, h5, h6, p
	margin: 0

header
	flex: none
	height: 6rem
	#progress
		display: flex
		justify-content: center
	p + p
		margin-left: 1ch

#game
	position: relative
	flex: 1 0 auto
	--game_size: 27rem
	&::after
		position: absolute
		content: ''
		left: 50%
		top: 50%
		width: var(--game_size)
		height: var(--game_size)
		border: 3px solid rgba(white, 0.3)
		border-radius: 50%
		transform: translate(-50%, -50%)
	#button
		display: grid
		z-index: 1
		place-items: center
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		background: #EAEAEA
		color: #202020
		border-radius: 50%
		$size = 7rem
		font-size: 2rem
		width: $size
		height: $size
		user-select: none
		cursor: pointer
		&:hover
			background: #EACCCC

.station
#cursor
	position: absolute
	left: 50%
	top: 50%
	width: calc(var(--game_size) * 0.15)
	height: calc(var(--game_size) * 0.15)
	border-radius: 50%
	transform: translate(-50%, -50%) rotate(calc(1 * var(--rotation))) translate(calc(-0.5 * var(--game_size)))
	transition: 0.4s transform ease-in-out

.station
	background: cyan
	z-index: 3

#cursor
	--rotation: "0deg" % ""
	border: 3px solid white
	z-index: 4

footer
	display: flex
	justify-content: center
	flex: none
	height: 3rem
	a
		margin-left: 0.5ch
